body {
  margin: 0;
}

#bio {
  transform: rotate(-90deg);
  position: absolute;
  left: -130px;
  bottom: 50%;
  z-index: 99;
  font-family: "Georgia";
  font-size: 18px;
  height: 60px;
  width: 320px;
  line-height: 1.4;
  text-align: justify;
  background:rgba(0,0,0,.8);
  color: white;
  display: none;
  box-sizing: border-box;
  pointer-events:none;
}

#bio img {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
}

#bio a {
  text-decoration: none;
  color: white;
}

.node {
  cursor: pointer;
}

.overlay{
    background-color: #F7F4F0;
}
 
.node circle {
  fill: #fff;
  stroke: #E6E2DD;
  stroke-width: 1.5px;
}
 
.node text {
  font-size:11px; 
  font-family: "Georgia";
  color: #4D3636;
  transform: rotate(-90deg) translate(36px, 25px);
}

.node image{
  transform: rotate(-90deg);
}
 
.link {
  fill: none;
  stroke: #E6E2DD;
  stroke-width: 1.5px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

